<h1> Compte rendu de projet </h1>
<br><br>
<p class="intro"> Je devais réaliser une user story permettant à un supporter d'Arsenal d'avoir un apercu du prix des 
  places de sa commande. Avec comme consigne technique de faire un back-end en Java EE, et un front à l'aide d'un framework 
  JS.</p>
  <br>

<p class="body">Pour le framework JS, j'ai fait le choix d'utiliser Angular car c'est un framework que j'ai 
  découvert récemment lors de ma formation à Efficom, et que je n'ai d'experience avec aucun autre framework.</p>
<p class="body">Pour le back-end en JEE, n'ayant aucune expérience dans cette technologie (je n'avais fait que du 
  java purement applicatif jusqu'à présent) un professeur m'a orienté vers Spring que je connaissais de nom.</p>
<p class="body">Le back-end est donc developpé en Java EE à l'aide de Spring Tool Suite 4 et de Spring Boot.</p>
<br>
<h5>Etat du projet</h5>
<br>
<p>back-end : Fonctionnel </p>
<p>front-end : Non-terminé. Malgré le back-end fonctionnel, je n'arrive pas a afficher les infos récupérées. 
  J'ai certainement oublié un petit quelque chose pour pouvoir continuer, helas la deadline est arrivé.</p><br>

<h5>Difficultés rencontrées</h5>
<br>
<ul>
  <li>Etant donné mon manque d'experience et de connaissances dans ces technologie j'ai manqué de temps pour terminer ce projet.</li>
  <li>Des gros problèmes d'environnement JAVA, en effet j'ai eu énormement de mal à avoir un environnement stable et fonctionnel, 
    ce qui m'a fait perdre énormement de temps avant de pouvoir commencer le developpement du back-end</li>
</ul> 
<br>
<h5>Pour conclure</h5>
<br>
<p>Malgré le fait que le projet ne soit pas terminé, j'espère vous avoir prouvé ma motivation à travailler et apprendre 
  pour intégrer votre équipe.</p>
<p>Je reste à votre entière disposition pour toute information complémentaire, ou éventuel entretien.</p><br><br>
<h2>Et une image de petit chaton mignon pour vous souhaiter la bonne journée!</h2>
  <img src="../../../assets/images/chatmignon.jpg" alt="">
